<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walle.gankio">

    <uses-sdk android:minSdkVersion="21"/>

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <!--//umeng-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--//umeng-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--//umeng-->
        <meta-data android:value="57b6a82667e58e56bb002755" android:name="UMENG_APPKEY"/>
        <meta-data android:value="{UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="c2351d0bde0fbc2cf71a0b082005fc09">
        </meta-data>
        <!--//umeng-->

        <activity android:name=".view.MainActivity"/>
        <activity android:name=".WelcomeActivity"
            android:theme="@style/LunchTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.HomeSettingActivity" />
        <activity android:name=".view.WebViewActivity" />
        <activity
            android:name=".view.beauty.PicViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pic_viewer"
            android:theme="@style/TransparentFullscreenTheme"/>
    </application>

</manifest>